openapi: "3.0.2"
paths:
  /posts:
    post:
      summary: "Create a post"
      tags:
        - "posts"
      parameters: []
      requestBody:
        description: "Body"
        content:
          application/json:
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
              required:
                - "name"
      responses:
        201:
          description: "201"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
    get:
      summary: "Get all posts"
      tags:
        - "posts"
      parameters: []
      responses:
        200:
          description: "200"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  properties:
                    id:
                      type: "string"
                    name:
                      type: "string"
                  required:
                    - "id"
                    - "name"
  /posts/{id}:
    get:
      summary: "Get a post by id"
      tags:
        - "posts"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "200"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                nullable: true
    patch:
      summary: "Update a post by id"
      tags:
        - "posts"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        description: "Body"
        content:
          application/json:
            schema:
              type: "object"
              properties:
                title:
                  type: "string"
                body:
                  type: "string"
      responses:
        200:
          description: "200"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
    delete:
      summary: "Delete a post by id"
      tags:
        - "posts"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "200"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                nullable: true
info:
  title: "Posts API"
  version: "1.0.0"
