openapi: "3.0.2"
paths:
  /posts:
    post:
      summary: "Create a post"
      tags:
        - "posts"
      parameters: []
      requestBody:
        description: "Body"
        content:
          application/json:
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
                email:
                  type: "string"
              required:
                - "name"
                - "email"
      responses:
        201:
          description: "201"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "number"
                  name:
                    type: "string"
                  email:
                    type: "string"
                required:
                  - "id"
                  - "name"
                  - "email"
  /posts/{id}:
    get:
      summary: "Get a post by id"
      tags:
        - "posts"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "200"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "number"
                  name:
                    type: "string"
                  email:
                    type: "string"
                required:
                  - "id"
                  - "name"
                  - "email"
                nullable: true
info:
  title: "Posts API"
  version: "1.0.0"
